<html>

<head>
    <link rel="stylesheet" href="public/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="code.js"></script>

</head>

<body>
    <header>
        <h1>Pokemon Page</h1>
    </header>
    <nav>
            <div class="nav_container">
                <a href="index.html">
                    HOME
                </a>
                <a href="search.html">
                    SEARCH
                </a>
                <a href="SHOWPING.html">
                    SHOPING CART
                </a>
                <a href="useprofile.ejs">
                    PROFILE
                </a>
            </div>
    </nav>
    <main>


    </main>

</body>

</html>