body {
    background-color: whitesmoke;
}

.img_box a, img {
    display: flex;
    font-size: 50px;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}


select {
    height: 40px;
    width: 150px;
}

h1 {
    color: black;
    width: 100%;
    border-style: solid;
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

p {
    font-size: 48px;
    font-style: normal;
}

.img_box {
    height: auto;
    width: auto;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 40px 80px;
}

nav a {
    display: flex;
    float: left;
    padding: 10px;

    color: #f2f2f2;
    text-decoration: none;

    padding: 14px 16px;
    text-align: center;

}

nav a:hover {
    background-color: f2f2f2;
    color: black;
}

#img_box {
    padding: 10px;
}


#body_outer_box {
    display: flex;
    width: 100%;
    border-style: solid;
    align-items: center;
    justify-content: space-around;
}

img {
    max-width: 100%;
    height: auto;
}


.search_input {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}

input {
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
}

@media screen and (max-width: 700px) {

    #body_outer_box {
        flex-direction: column;
    }

    .nav_container a {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .nav_container select {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav_container .search_input {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .search_input {
        height: 100px;
    }

    .search_input input {
        margin: auto;
        width: 100%;
        flex-direction: column;
        width: 100%;
        border: #333 solid 2px;
    }

    .search_input button {
        height: 50px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
}


.nav_container {
    flex-direction: row;
}